<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="mt-3 mr-7 font-semibold">
      <% var loggedIn = typeof loggedIn !== "undefined" ? loggedIn : true %> <%
      if (loggedIn) { %>
      <nav class="w-full flex justify-end gap-7 px-3 py-1">
        <% if (activePage !== 'shop') { %>
        <a href="/shop">Shop</a>
        <% } %> <% if (activePage !== 'cart') { %>
        <a href="/cart">Cart</a>
        <% } %>
        <a class="text-red-600" href="/users/logout">Logout</a>
      </nav>
      <% } %>
    </div>
  </body>
</html>
