# Server Configuration
PORT=3000
NODE_ENV=development

# Session and Security Secrets
EXPRESS_SESSION_SECRET=scatch_express_session_super_secret_key_12345
JWT_KEY=scatch_jwt_secret_token_secure_key_67890

# Database
MONGODB_URI=mongodb://127.0.0.1:27017
